<% @events.each do |event| %> 
<div class="col-lg-4">
  <h2><%= link_to event.title, event %></h2>
  <span class="event_date">Reported on <%= event.date.strftime("%d %b %Y") %> @ <%= Location.find(event.location_id).name %>. Reported by <% if !event.user_id.nil? then %>
    <% if User.find(event.user_id).level < 3 then %> <%= image_tag("badge_bronze_s.png", alt: "Bronze reporter badge") %>
    <% elsif User.find(event.user_id).level < 10 then %> <%= image_tag("badge_silver_s.png", alt: "Silver reporter badge") %>
    <% else %> <%= image_tag("badge_gold_s.png", alt: "Gold reporter badge") %> 
    <%= User.find(event.user_id).name %> 
    <% end %> 
    <% end %></span>
    
    <% if event.photos.count > 0 then %>
    <%=raw "<div style='background: url(#{event.photos.first.image}) center; width: 100%; height: 100px;'> </div>" %>
    <% end %>
    <p>
     <%= event.text %>
     <div class="tweetgroup">
       <% event.tweets[0...5].each do |t| %>
       <%=raw display_truncated_no_links(t.text) %> |
       <% end %>
     </div>
   </p>
   <p><%= link_to "View details &raquo;".html_safe, event, :class => "btn btn-default" %> </p>
 </div>
 <% end %>