<h1>Add Event</h1>
Detected <%= pluralize(@evnt_a.count, "possible event") %> near <%= @coord[0].address %><br/>

<% if @evnt_a.count > 0 then %>

<%= form_tag(controller: :events, action: :create)  do%>
<h2>Events</h2>
From the events that recently took place nearby, place select the one you know something about!

<table>
  <tr>
    <th></th>
    <th>Location</th>
    <th>Tweets</th>
  </tr>
    <% @evnt_a.each do |g| %>
      <tr>
        <td><%= radio_button_tag(:evnt, "#{@query},#{(g.first.place.bounding_box.coordinates[0][0][1]+g.first.place.bounding_box.coordinates[0][2][1])/2},#{(g.first.place.bounding_box.coordinates[0][0][0]+g.first.place.bounding_box.coordinates[0][1][0])/2} #{g.first.place.country};#{g.first.place.full_name}") %></td>
        <td>Location: <%= g.first.place.full_name %><br> 
        # of tweets: <%= g.count %>
        <td><% g.each do |t| %> <%= t.user.name %>: <%=raw display_with_links(t.text) %><br/> <% end %>
        <hr></td>
      </tr>
    <% end %>
</table>

Do any of these photos correspond to the event?<br />
<% @photos.each do |p| %>
  <%= check_box_tag "photo[]", p.id, false %>
  <% if p.caption.nil? %>
    <%= image_tag("#{p.images.thumbnail.url}", size: "#{p.images.thumbnail.width}x#{p.images.thumbnail.height}", alt: "#{p.user.full_name}" ) %>
  <% else %>
    <%= image_tag("#{p.images.thumbnail.url}", size: "#{p.images.thumbnail.width}x#{p.images.thumbnail.height}", alt: "#{p.caption.from.full_name}: #{p.caption.text}" ) %>
  <% end %>
<% end %>

<p>
  <%= text_field_tag :title, params[:title] %>
  <%= text_area_tag :text, params[:text] %>
</p>
  <p>
    <%= submit_tag %>
  </p>
<% end %>

<% else %> 
<%= link_to 'Try again', new_event_path %>
<% end %>


