<h1>Add Event</h1>
Retrieved <%= pluralize(@tweets.count, "tweet") %><% if !@query.blank? %> about "<%= @query %>"<% end %> near <%= @coord[0].address %>.<br/>

<% if @tweets.count < 1 then %>
<%= link_to 'Try again', new_event_path %>

<% else %> 

<%= form_tag(controller: :events, action: :create)  do %>
<h2>Tweets</h2>
These are tweets that were recently posted nearby<% if !@query.blank? %> about "<%= @query %>"<% end %>. Please <strong>select those that contain information about the event!</strong>

<div class="row">
<% if @tweets.count <= 40 then %>
<div class="col-lg-10 tweetscroller well well-sm" style="margin: 0 auto;">
    <% @tweets.each do |t| %> 
      <%= check_box_tag "tweet[]", t.id, false %> 
      <%= t.user.name %>: 
      <% if @query.blank? then %>
        <%=raw display_with_links(t.text,) %>
      <% else %> 
        <%=raw highlight_query(t.text,@query) %>
      <% end %><br/> 
    <% end %>
<% else %>
  <% @tweets.each_slice((@tweets.count.to_f/2).ceil) do |slice| %>
    <div class="col-lg-6 tweetscroller well well-sm">
      <% @tweets.each do |t| %> 
        <%= check_box_tag "tweet[]", t.id, false %> 
        <%= t.user.name %>: 
        <% if @query.blank? then %>
         <%=raw display_with_links(t.text,) %>
        <% else %> 
          <%=raw highlight_query(t.text,@query) %>
        <% end %><br/> 
      <% end %>
    </div>
  <% end %>
<% end %>
<%= hidden_field_tag(:evnt, "#{@query},#{@coord[0].latitude},#{@coord[0].longitude} #{@coord[0].country};#{@coord[0].address_components[0].first[1]}") %>
</div>
</div>

<h3>Photos</h3>
Do any of these photos correspond to the event?<br />
<% @photos.each do |p| %>
<div style="float:left; margin: 10px;">
  <% if p.caption.nil? %>
    <%= image_tag("#{p.images.thumbnail.url}", size: "#{p.images.thumbnail.width}x#{p.images.thumbnail.height}", alt: "#{p.user.full_name}" ) %>
  <% else %>
    <%= image_tag("#{p.images.thumbnail.url}", size: "#{p.images.thumbnail.width}x#{p.images.thumbnail.height}", alt: "#{p.caption.from.full_name}: #{p.caption.text}" ) %>
  <% end %>
  <br /> <div class="center"><%= check_box_tag "photo[]", p.id, false %></div>
</div>
<% end %>


<div style="clear:left; max-width: 500px; margin: 0 auto;" class="form-group">
<h3>Create the event</h3>
<p>
  <%= label_tag 'title', 'Please enter a title for the event.' %>
  <%= text_field_tag :title, params[:title], :class => "form-control" %>
</p>
<p>
<%= label_tag 'title', 'Optional: Enter an event description for some more information about the event.' %>
  <%= text_area_tag :text, params[:text], :rows => 10, :class => "form-control" %>
</p>
  <p>
    <%= submit_tag "Create event!", :class => "btn btn-default" %>
  </p>

</div>
<% end %>

<% end %>