<div style="max-width: 900px; margin: 0 auto;">
<h2><%= @event.title %></h2>
   <span class="event_date">Reported on <%= @event.date.strftime("%d %b %Y") %> @ <%= Location.find(@event.location_id).name %>. Reported by <% if !@event.user_id.nil? then %>
    <% if User.find(@event.user_id).level < 3 then %> <%= image_tag("badge_bronze_s.png", alt: "Bronze reporter badge") %>
    <% elsif User.find(@event.user_id).level < 10 then %> <%= image_tag("badge_silver_s.png", alt: "Silver reporter badge") %>
    <% else %> <%= image_tag("badge_gold_s.png", alt: "Gold reporter badge") %> 
    <% end %> 
    <%= User.find(@event.user_id).name %> 
    <% end %></span>
   <p>
   <%= @event.text %>
   </p>

   <p>
   <h3>Tweets</h3>
   <div style="overflow:auto; max-height: 300px;">
   <% @event.tweets.each do |t| %>
   		<%= t.user %>: <%=raw display_with_links(t.text) %> <br />
   	<% end %>
      </div>
   	</p>

   	<p>
   	<h3><span class="glyphicon glyphicon-camera"></span> Photos</h3>
   	<% @event.photos.each do |p| %>
      <% if p.link.blank? then %>
   		<%=raw "<a href ='#{p.image}'>
   			<img src='#{p.thumbnail}' alt='#{p.user}' /> </a>" %>
      <% else %>
      <%=raw "<a href ='#{p.link}'>
        <img src='#{p.thumbnail}' alt='#{p.user}' /> </a>" %>
      <% end %>
    <% end %>
   </p>

   <h2>Comments</h2>
   <div id="comments">
         <%= render :partial => @event.comments %>
   </div>
   <%= form_for [@event, Comment.new] do |f| %>
        <p>
                <%= f.label :body, "New comment" %><br/>
                <%= f.text_area :body, :rows => "3", :class => 'form-control' %>
        </p>
        <p><%= f.submit "Add comment", :class => 'btn btn-default' %></p>
   <% end %>
</div>